<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cqupt.home.mapper.RoomMapper">
  <resultMap id="BaseResultMap" type="org.cqupt.home.model.Room">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="room_name" jdbcType="VARCHAR" property="roomName" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="home_id" jdbcType="INTEGER" property="homeId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="used" jdbcType="INTEGER" property="used" />
  </resultMap>
</mapper>